*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 250, 244);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

main{
    width: 1120px;
    margin: 0 auto;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1120px;
    margin: 0 auto;
    margin-top: 24px;
    padding: 16px 24px;
}
.first-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #262730;
}
.circle{
    width: 24px;
    height: 24px;
    background-color: #262730;
    border-radius: 50%;
    margin-right: 12px;
}

.header__button{
    background-color: #262730;
    color: white;
    padding: 6px 12px;
    margin-left: 16px;
}

#profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 24px;
    font-size: 14px;

    margin-top: 24px;
}

.selected{
    position: relative;
    margin-left: 8px;
}
.selected::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
}

.section__jumbo{
    margin-top: 32px;
}
.jumbo__left{
    width: 360px;
}
h1{
    font-size: 36px;
}
.button__holder{
    margin-top: 32px;
}
.button__large{
    padding: 12px 20px;
    border: none;
}
.button__filled{
    background-color: #262730;
    color: white;
}
.button__outlined{
    border: 1px solid #262730;
    background-color: transparent;
}

p{
    margin-top: 20px;
}
